@model IEnumerable<DoAnCoSoAPI.Entities.Notification>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetNotifications</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    <table class="table">
        <thead>
            <div>Số lượng thông báo chưa đọc: @ViewBag.UnreadCount</div>
        </thead>
        <tbody>
            <h2>Thông báo:</h2>
            @if (Model.Any())
            {
                
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Content)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedAt)
                        </td>
                        <td>
                            <div class="notification-item">
                                <button class="mark-as-read-btn" data-notification-id="@item.id">Đánh dấu đã đọc</button>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="3">Không có thông báo nào.</td>
                </tr>
            }
        </tbody>
    </table>
    <div id="friendRequestContainer"></div>
    <script>
        $(document).ready(function () {
            $(".mark-as-read-btn").click(function () {
                var notificationId = $(this).data("notification-id");
                $.ajax({
                    url: "/mark-notification-read/" + notificationId,
                    type: "GET",
                    success: function (response) {
                        window.location.reload();
                        // Cập nhật giao diện người dùng nếu cần thiết
                    },
                    error: function (xhr, status, error) {
                        alert("Đánh dấu thông báo là đã đọc thất bại: " + error);
                    }
                });
            });

            loadFriendRequests();

            function loadFriendRequests() {
                $.ajax({
                    url: '/UserPost/FriendRequests', // Đường dẫn tới trang "PersonalPage"
                    type: 'GET',
                    success: function (data) {
                        // Sau khi tải thành công, render nội dung vào placeholder
                        $('#friendRequestContainer').html(data);
                    },
                    error: function () {
                        console.error('Failed to load FriendRequests.');
                    }
                });
            }
        });
    </script>
</body>
</html>
