<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DoAnCoSo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DoAnCoSo.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-orange">
        <div class="container-fluid">
            <a class="navbar-brand" href="https://localhost:7222/UserPost/Index">
                <img src="../images/Logo.png" class="logo">
            </a>
            <div class="d-flex align-items-center">
                <form id="searchForm" class="form-inline ml-auto">
                    <input class="form-control mr-sm-2" type="search" id="searchInput" placeholder="Nội dung tìm kiếm" aria-label="Search">                 
                </form>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="https://localhost:7222/Notification/GetNotifications">
                            <i class="bi bi-bell-fill" style="color: white;"></i>
                                <span id="unreadCount" class="badge badge-danger">0</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://localhost:7222/Chat/Index"><i class="bi bi-chat-dots-fill" style="color: white;"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="userDropdown" style="cursor: pointer;">
                            <i class="bi bi-person-fill" style="color: white;"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="userDropdown" id="userDropdownMenu">
                            <a class="dropdown-item" asp-controller="user" asp-action="Index">Trang cá nhân</a>
                            <a class="dropdown-item" asp-controller="user" asp-action="Update">Cập nhật, xóa tài khoản</a>
                            <a class="dropdown-item logoutBtn" id="logoutBtn">Đăng xuất</a>

                        </div>
                    </li>


                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

