@model IEnumerable<DoAnCoSoAPI.Entities.user_report>

@{
    ViewData["Title"] = "Index";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<h1>Danh sách báo cáo</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                ID_Report
            </th>
            <th>
                ID_Post
            </th>
            <th>
                Reason
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reason)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
}
    </tbody>
</table>
<script>
    $(document).ready(function () {
    
        $("#searchButton").click(function () {
            // Lấy giá trị ID của bài đăng từ input field
            var postId = $("#postIdInput").val();

            // Gửi yêu cầu AJAX đến controller
            $.ajax({
                type: "GET",
                url: "/Admin/UserReportAdmin/Search?id=" + postId,
                success: function (response) {
                    // Xử lý phản hồi từ controller, hiển thị kết quả
                    // Ví dụ: chuyển hướng đến trang chi tiết bài đăng
                    window.location.href = "/Admin/UserReportAdmin/Search?id=" + postId;
                },
                error: function (error) {
                    console.error("Error:", error);
                }
            });
        });
    });
</script>
