@using DoAnCoSoAPI.Entities
@model DoAnCoSoAPI.Entities.User_Post

@{
    ViewData["Title"] = "Create";
}
<style>
    .large-input {
        width: 100%;
        height: 200px;
        padding: 10px; /* Tùy chọn: thêm khoảng cách bên trong khung nhập liệu */
        font-size: 16px; /* Tùy chọn: điều chỉnh kích thước chữ */
    }
</style>
<h1 class="title-h1">ĐĂNG BÀI</h1>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-setting">
                <label asp-for="content" class="control-label">Nội dung</label>
                <input asp-for="content" placeholder="Nhập văn bản vào đây..." class="form-control large-input" />
                <span asp-validation-for="content" class="text-danger"></span>
            </div>
            <div class="form-group form-setting">
                <label asp-for="images" class="control-label">Hình ảnh</label>
                <input type="file" name="images" class="form-control" multiple />
                <span asp-validation-for="images" class="text-danger"></span>
            </div>
            <div class="form-group form-setting">
                <label for="wordFile" class="control-label">File Word</label>
                <input type="file" id="wordFile" name="wordFile" class="form-control" accept=".doc,.docx" />
            </div>
            <br>
            <div class="row">
                <div class="col-md-5 form-group form-setting">
                    <select asp-for="Class" class="custom-select mr-sm-2 dropdown-orange">
                        <option selected value="">Chọn khối</option>
                        @foreach (var c in Class.AllClasses)
                        {
                            <option value="@c.Name">@c.Name</option>
                        }
                    </select>
                    <span asp-validation-for="Class" class="text-danger"></span>
                </div>
                <div class="col-md-7 form-group form-setting">
                    <select asp-for="Subject" class="custom-select mr-sm-2 dropdown-orange">
                        <option selected value="">Chọn môn học</option>
                        @foreach (var s in Subject.AllSubjects)
                        {
                            <option value="@s.Name">@s.Name</option>
                        }
                    </select>
                    <span asp-validation-for="Subject" class="text-danger"></span>
                </div>
            </div>
            <br>
            <div class="form-group form-setting">
                <input type="submit" value="Đăng bài" class="button" />
            </div>
        </form>
    </div>
    <div class="col-md-3"></div>
    <div>
        <a asp-action="Index" class="button">Trở về</a>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
