@model DoAnCoSoAPI.Entities.User_Post
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

<h3>Bạn có chắc chắn xóa bài viết này?</h3>
<div>
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Hủy bỏ</a>
    </form>
</div>
</body>
</html>
