@model DoAnCoSoAPI.Entities.User_Post

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update</title>
</head>
<body>

    <h4>User_Post</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Update" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="title" class="control-label"></label>
                    <input asp-for="title" class="form-control" />
                    <span asp-validation-for="title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="content" class="control-label"></label>
                    <input asp-for="content" class="form-control" />
                    <span asp-validation-for="content" class="text-danger"></span>
                </div>
                <div class="form-group form-setting">
                    <label asp-for="images" class="control-label">Hình ảnh</label>
                    <input type="file" name="images" class="form-control" multiple />
                    <span asp-validation-for="images" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</body>
</html>
