@model DoAnCoSoAPI.Entities.User_Post



<!DOCTYPE html>
<h1>Cập nhật bài viết</h1>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update</title>
</head>
<body>

    
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Update" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                <div class="form-group">
                    <label asp-for="content" class="control-label"> Nội dung</label>
                    <input asp-for="content" class="form-control" />
                    <span asp-validation-for="content" class="text-danger"></span>
                </div>
                <div class="form-group form-setting">
                    <label asp-for="images" class="control-label">Hình ảnh</label>
                    <input type="file" name="images" class="form-control" multiple />
                    <span asp-validation-for="images" class="text-danger"></span>
                </div>
                <div class="form-group form-setting">
                    <label for="wordFiles" class="control-label">File Word</label>
                    <input type="file" id="wordFiles" name="wordFiles" class="form-control" accept=".doc,.docx" multiple />
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" /> | <a asp-action="Index">Về lại trang chủ</a>
                </div>
            </form>
        </div>
    </div>

  

</body>
</html>
