@model DoAnCoSoAPI.Entities.user_report

@{
    ViewData["Title"] = "Create";
}

<h1>Báo cáo bài viết</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Reason" class="control-label"> Lý do: </label>
                <input asp-for="Reason" class="form-control" placeholder="Nhập lý do..."/>
                <span asp-validation-for="Reason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br />
                <input type="submit" value="Gửi báo cáo" class="btn btn-primary" /> |  <a href="https://localhost:7222/UserPost/Index" >Về lại trang chủ</a>
            </div>
        </form>
    </div>
</div>



