@{
    ViewData["Title"] = "Xác nhận quên mật khẩu";
}

<h2>Xác nhận quên mật khẩu</h2>
<p>Chúng tôi đã gửi mã xác thực đến email của bạn. Vui lòng kiểm tra email của bạn để tiếp tục.</p>
<a href="https://localhost:7222/user/ResetPassword" ">Đã nhận được mã </a>
