@model DoAnCoSoAPI.Entities.User

@{
    ViewData["Title"] = "Index";
    // Extension method

}

<h1>Trang cá nhân</h1>

<div class="user-info">
    <div >
        @if (Model.images != null && Model.images.Any())
        {
            foreach (var image in Model.images.ToImages())
            {
                <img class="user-image zoomable-image" src="data:image/jpeg;base64,@Convert.ToBase64String(image)" />
            }
        }
        else
        {
            <img class="user-image zoomable-image" src="~/images/defaultAvatar.jpg" alt="Default Avatar" />
        }

        </div>
        <div class="user-details">
            <span>@Html.DisplayFor(modelItem => modelItem.firstName)</span>
            <span>@Html.DisplayFor(modelItem => modelItem.lastName)</span>
        </div>
    </div>
    <div id="friendListContainer"></div>
    <div id="personalPageContainer"></div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            // Tải nội dung của trang "PersonalPage" và render vào trong placeholder
            loadPersonalPage();

            // Hàm để tải nội dung của trang "PersonalPage"
            function loadPersonalPage() {
                $.ajax({
                    url: '/UserPost/PersonalPage', // Đường dẫn tới trang "PersonalPage"
                    type: 'GET',
                    success: function (data) {
                        // Sau khi tải thành công, render nội dung vào placeholder
                        $('#personalPageContainer').html(data);
                    },
                    error: function () {
                        console.error('Failed to load PersonalPage.');
                    }
                });
            }
            $(document).ready(function () {
                loadFriendList();

                function loadFriendList() {
                    $.ajax({
                        url: '/UserPost/GetFriends',
                        type: 'GET',
                        success: function (data) {
                            $('#friendListContainer').html(data);
                        },
                        error: function () {
                            console.error('Failed to load friend list.');
                        }
                    });
                }
            });
        });
    </script>
